In [1]:
import pandas as pd
import sqlite3

In [5]:
gene_df = pd.read_csv('genotyping_data/genstudio.zip', index_col=0)

/Users/alexgorbonos/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/alexgorbonos/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [6]:
gene_df.head()

,SNP Name,SNP Index,SNP Aux,Sample ID,SNP,Allele1 - Top,Allele2 - Top,Allele1 - Forward,Allele2 - Forward,Allele1 - AB,Allele2 - AB,Chr,Position,GC Score,GT Score,Theta,R,B Allele Freq,Log R Ratio
0,1_10573221,1,0,202341831114R01C01,[T/C],-,-,-,-,-,-,1,10573221,0.0000,0.0000,0.942,0.413,1.0000,0.4040
1,1_10673082,2,0,202341831114R01C01,[T/C],A,A,T,T,A,A,1,10673082,0.8272,0.8076,0.039,0.968,0.0000,0.3017
2,1_10723065,3,0,202341831114R01C01,[A/G],A,A,T,T,A,A,1,10723065,0.8316,0.8107,0.011,1.577,0.0000,0.0388
3,1_11337555,4,0,202341831114R01C01,[A/G],A,A,T,T,A,A,1,11337555,0.3781,0.7925,0.045,1.104,0.0000,0.2761
4,1_11407894,5,0,202341831114R01C01,[A/G],G,G,G,G,B,B,1,11407894,0.9038,0.8670,0.983,1.122,0.9994,0.0022

In [4]:
gene_df.dtypes

SNP Name              object
SNP Index              int64
SNP Aux                int64
Sample ID             object
SNP                   object
Allele1 - Top         object
Allele2 - Top         object
Allele1 - Forward     object
Allele2 - Forward     object
Allele1 - AB          object
Allele2 - AB          object
Chr                   object
Position              object
GC Score             float64
GT Score             float64
Theta                float64
R                    float64
B Allele Freq        float64
Log R Ratio          float64
dtype: object

In [9]:
connection = sqlite3.connect('genes.db')

In [10]:
query = '''CREATE TABLE genstudio(
            genstudio_id INTEGER PRIMARY KEY,
            SNP_Name TEXT,
            SNP_Index INTEGER,
            SNP_Aux INTEGER,
            Sample_ID TEXT,
            SNP TEXT,
            Allele1_Top TEXT,
            Allele2_Top TEXT,
            Allele1_Forward TEXT,
            Allele2_Forward TEXT,
            Allele1_AB TEXT,
            Allele2_AB TEXT,
            Chr TEXT,
            Position TEXT, 
            GC_Score REAL,
            GT_Score REAL,
            Theta REAL,
            R REAL,
            B_Allele_Freq REAL,
            Log_R_Ratio REAL
            )'''

In [11]:
connection.execute(query)
connection.commit()
connection.close()

In [16]:
inserion_query = '''
                INSERT INTO
                genstudio(SNP_Name, SNP_Index, SNP_Aux, Sample_ID, SNP, 
                Allele1_Top, Allele2_Top, Allele1_Forward, Allele2_Forward,
                Allele1_AB, Allele2_AB, Chr, Position, GC_Score,
                GT_Score, Theta, R, B_Allele_Freq, Log_R_Ratio)
                VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
                '''

In [20]:
connection = sqlite3.connect('genes.db')
connection.executemany(inserion_query, gene_df.to_numpy())
connection.commit()
connection.close()

In [23]:
connection = sqlite3.connect('genes.db')

In [32]:
# Проверим, что все работает:
select_query = '''
                SELECT SNP_Name, SNP, Position
                FROM genstudio
                '''

In [30]:
result = connection.execute(select_query).fetchall()

In [31]:
for i, (name, SNP, pos) in enumerate(result):
    print(name, SNP, pos)
    if i == 10:
        break

1_10573221 [T/C] 10573221
1_10673082 [T/C] 10673082
1_10723065 [A/G] 10723065
1_11337555 [A/G] 11337555
1_11407894 [A/G] 11407894
1_11426075 [T/C] 11426075
1_11445382 [T/C] 11445382
1_135128255 [A/G] 135128255
1_13996200 [T/C] 13996200
1_142535524 [A/G] 142535524
1_14638936 [T/C] 14638936